/gentoo_repository/
/repos/
/commits/
/linux-patches/
/genpatches-notes/
/dev_settings.toml
/irc_bot/irc.libera.chat/
*.egg
*.egg-info/
.venv/
__pycache__/
build/
dist/
env.bak/
ENV/
venv.bak/
venv/
.pytest_cache/
*.cover
*.py[cod]
*.lock
.ipynb_checkpoints
.nosetests.xml
.poetry/
.pypoetry/
.python-version

