try_connect = 'pb'
try_master = '{{ try_master }}'
try_username = '{{ try_username }}'
try_password = '{{ try_password }}'
try_builders = ['{{branch_name}}:amd64:gcc']
try_vc = 'git'
try_comment = '{{ try_comment }}'
try_who = '{{ try_who }}'
