
Patch:  1500_XATTR_USER_PREFIX.patch
From:   https://bugs.gentoo.org/show_bug.cgi?id=470644
Desc:   Support for namespace user.pax.* on tmpfs.

Patch:  1510_fs-enable-link-security-restrictions-by-default.patch
From:   http://sources.debian.net/src/linux/3.16.7-ckt4-3/debian/patches/debian/fs-enable-link-security-restrictions-by-default.patch/
Desc:   Enable link security restrictions by default.

Patch:  1700_sparc-address-warray-bound-warnings.patch
From:		https://github.com/KSPP/linux/issues/109
Desc:		Address -Warray-bounds warnings 

Patch:  2000_BT-Check-key-sizes-only-if-Secure-Simple-Pairing-enabled.patch
From:   https://lore.kernel.org/linux-bluetooth/20190522070540.48895-1-marcel@holtmann.org/raw
Desc:   Bluetooth: Check key sizes only when Secure Simple Pairing is enabled. See bug #686758

Patch:  2900_tmp513-Fix-build-issue-by-selecting-CONFIG_REG.patch
From:   https://bugs.gentoo.org/710790
Desc:   tmp513 requies REGMAP_I2C to build.  Select it by default in Kconfig. See bug #710790. Thanks to Phil Stracchino

Patch:  2910_bfp-mark-get-entry-ip-as--maybe-unused.patch
From:   https://www.spinics.net/lists/stable/msg604665.html
Desc:   bpf: mark get_entry_ip as __maybe_unused

Patch:  2920_sign-file-patch-for-libressl.patch
From:   https://bugs.gentoo.org/717166
Desc:   sign-file: full functionality with modern LibreSSL

Patch:  3000_Support-printing-firmware-info.patch
From:   https://bugs.gentoo.org/732852
Desc:   Print firmware info (Reqs CONFIG_GENTOO_PRINT_FIRMWARE_INFO). Thanks to Georgy Yakovlev

Patch:  4567_distro-Gentoo-Kconfig.patch
From:   Tom Wijsman <TomWij@gentoo.org>
Desc:   Add Gentoo Linux support config settings and defaults.

Patch:  5010_enable-cpu-optimizations-universal.patch
From:   https://github.com/graysky2/kernel_compiler_patch
Desc:   Kernel >= 5.15 patch enables gcc = v11.1+ optimizations for additional CPUs.

Patch:  5020_BMQ-and-PDS-io-scheduler-v6.0-r0.patch
From:   https://gitlab.com/alfredchen/projectc
Desc:   BMQ(BitMap Queue) Scheduler. A new CPU scheduler developed from PDS(incld). Inspired by the scheduler in zircon.
